body {
    background-color: rgb(89, 13, 34);
    display: grid;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

img {
    text-align: center;
    border-radius: 100px;
}

a {
    text-decoration: none;
    color: rgb(100, 16, 40);
}

li a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 9px;
}

.Menu {
    justify-content: center;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.Menu {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 16, 40);
    border-radius: 1px;
    box-shadow: 1px 1px 5px black;
    width: 100%;
}

.Titulo {
    font-size: 100px;
    padding: 10px;
}

.Div0 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.Div2 {
    width: 350px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 1px 1px 5px;
    background-color: rgb(100, 16, 40);
}

.Div2 {
    flex-basis: 0;
    flex-grow: 999;
    min-width: auto;
}

.Div2:hover {
    transform: scale(1.05, 1.05);
}

.Div1 {
    height: 400px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 1px 1px 5px;
    background-color: rgb(100, 16, 40);
}

.Div1 {
    flex-basis: 0;
    flex-grow: 999;
    min-width: auto;
}

.Div1:hover {
    transform: scale(1.05, 1.05);
}